:root {
    --dark-color: #30343C;
    --light-blue: #92CDCF;
    --dark-blue: #455776;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-color);
    margin: 0;
}

header h1 {
    display: flex;
    font-size: 48px;
    margin: 5px 0 ;
    padding: 0 1% 0 5%;
    align-items: center;
    background-color: var(--light-blue);
    color: var(--dark-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav{
    display: flex;
    align-items: center;
    margin: 10px 4% 10px 0;
}
nav a{
    color: var(--light-blue);
    margin-right: 8px;
    padding: 0 4px;
    border-bottom: 2px solid var(--light-blue);
    font-weight: bold;
    text-decoration: none;
}
/*Image and subtitle*/
.landingImg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 300px;
    margin: 0;
    background-image: url(../images/Landing_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

.landingImg h2 {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 4% 2% 0;
    padding: 10px;
    background-color: var(--light-blue);
    color: var(--dark-color);
    font-weight: bold;
    border-radius: 5px;
}
/*main focus*/
main section {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

aside {
    display: flex;
    justify-content: end;
    width: 15%;
    margin: 20px 30px;
    border-right: 2px solid var(--dark-blue);
    padding-right: 5px;
}

aside h2 {
    color: var(--dark-blue);
    font-size: 40px;
    font-weight: bolder;
    text-align: right;
}


main section div {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 85%;
}
/*Work section*/
.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work figure {
    position: relative;
    margin: 5px;
    width: 45%;
    height: 100px;
    border: 4px solid var(--light-blue);
}

figure:first-child {
    width: 100%;
    height: 200px;
}

.work figure a img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-position: top;
    opacity: 0.7;
}

.work figure a img:hover {
    opacity: 1;
}

.work figure figcaption {
    position: absolute;
    bottom: 5px;
    left: -1px;
    margin-bottom: 15px;
    padding: 5px 8px;
    background-color: var(--light-blue);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.work figure figcaption > * {
    margin: 0;
}
/*Contact section*/
.contact {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact a {
    display: flex;
    color: var(--dark-blue);
    margin: 0 5%;
    border-bottom: 2px solid var(--dark-blue);
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 1035px) {
    main section{
        flex-direction: column;
    }
    aside {
        justify-content: center;
        width: 95%;
        margin: auto;
        border-bottom: 2px solid var(--dark-blue);
        border-right: none;
    }
    main section div{
        width: 95%;
    }
   
    .contact{
        width: 80%;
        margin:auto;
        justify-content: center;
    }
    .contact a{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px) {
    header{
        flex-direction: column;
    }
    header h1{
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 10px 0;
        display: block;
        border-radius: 0px;
    }
    nav {
        margin: 15px auto 15px auto;
    }
}